#fetch{
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    padding: 80px 0px;

    .container{
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h5{
            font-size: 12px;
            color: #8b8b92;
            margin-bottom: 10px;
        }
        h1{
            font-size: 34px;
            line-height: 51px;

        }
        .buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            margin-top: 50px;
            margin-bottom: 20px;
            button{
                width: 121px;
                height: 73px;
                padding: 16px 24px;
                background-color: white;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                color: #8b8b92;
                transition: 400ms;
                font-size: 15px;
                i{
                    margin-right: 10px;
                }
                &:hover{
                    background-color: #ffb400;
                }
            }
            .meat{
                color: black;
                background-color: #ffb400;
            }
        }
        .cards{
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            margin: 50px 0px;
            .card{
                width: 540px;
                height: 100px;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                transition: 400ms;

                &:hover{
                    background-color: #ffb400;
                }
                img{
                    width: 70px;
                    height: 70px ;
                    border-radius: 50%;
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    p{
                        font-size: 18px;
                    }
                    h6{
                        font-size: 16px;
                        color: #8b8b92;
                    }
                }
                .butons{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    button{
                        background-color: white;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        border: 1px solid #ffb400;

                        transition: 400ms;

                    }
                    .detail{
                        width: 71px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        transition: 400ms;
                        i{
                            opacity: 0;
                            transition: 400ms;
                        }
                        &:hover{
                            i{
                               opacity: 1;
                            }
                        }
                    }
                    .add{
                        &:hover{
                            background-color: rgb(70, 107, 14);
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
