*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Mulish', sans-serif;
    button{
        cursor: pointer;
    }
    ::selection{
        background-color: #ffb400;
        color: white;
    }
}